.readme-templates-container {
    -fx-focus-color: transparent;
}

.readme-template-container {
    -fx-pref-height: 287px;
    -fx-pref-width: 344px;
    -fx-border-radius: 5px;
}

.readme-template-photo-container {
    -fx-pref-height: 190px;
    -fx-pref-width: 344px;
    -fx-background-color: #1485d9;
    -fx-border-radius: 5px;
}

.readme-template-name {
    -fx-font-size: 16px;
    -fx-pref-width: 344px;
    -fx-wrap-text: wrap;
    -fx-ellipsis-string: none;
    -fx-padding: 0 5px;
}

.readme-template-select-button {
    -fx-spacing: 0 5px;
}

.button {
    -fx-padding: 5px 15px;
    -fx-border-style: none;
    -fx-border-radius: 5px;
    -fx-background-color: #fff;
    -fx-cursor: hand;
}

.select-template-button {
    -fx-border-width: 1;
    -fx-border-style: solid inside;
    -fx-border-color: #1485d9;
}
.select-template-button:hover {
    -fx-background-color: #1485d9;
    -fx-text-fill: #fff;
}

.view-template-button {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-border-style: solid inside;
    -fx-border-color: #fff;
    -fx-text-fill: #fff;
}
.view-template-button:hover {
    -fx-background-color: #0009;
}