#mainScrollPane {
    -fx-border-color: white;
}
.text-field {
    -fx-text-fill: #222;
    -fx-font-size: 14px;
    -fx-min-width: 300px;
}

.text-area {
    -fx-min-width: 90%;
}

.combo-box {
    -fx-background-color: white;
    -fx-text-fill: #222;
    -fx-border-color: #222;
    -fx-end-margin: 40px;
}
.text-area, .text-field {
    -fx-padding: 5px;
    -fx-border-color: rgba(34, 34, 34, 0.4);
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
}
.text-area, .text-field, .combo-box, #goToMainWindowBtn {
    -fx-border-radius: 5px
}

#createNewReadmeButton {
    -fx-background-color: #0085BE;
}

#createNewReadmeButton:hover {
    -fx-background-color: #00B2FF;
}

#goToMainWindowBtn {
	-fx-background-color: #2225;
	-fx-text-fill: #fff;
	-fx-padding: 10px 15px;
}

#goToMainWindowBtn:hover {
	-fx-background-color: #222;
}

.button {
	-fx-cursor: pointer;
}

.screen-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    
}
